@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Oswald&family=Roboto+Condensed:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
}

section {
	width: 100%;
	height: 100vh;
	float: left;
}

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
	display: inline-flex;

}

/* start nav bar */
nav {
	box-shadow: 2px 1px rgb(127, 125, 125);
}

#navbarNavAltMarkup .navbar-nav a:hover {
	color: orangered;
	transition-delay: 0.2s;
}

/* end nav bar */
/* start main */
main .content {
	margin-top: 300px;
	margin-left: 100px;

}

main .image {
	margin-top: -430px;
	margin-right: 50px;
	float: right;
	position: relative;

}
/* end main */
/* start about */
#about .image2 {
	margin-top: 70px;
	margin-left: 50px;
	float: left;
	position: relative;

}

#about .aboutme {
	padding-top: 90px;
	margin-left: 20px;
}

.para {
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
}
/* end about */
/* icons */
.fa {
	padding: 10px;
	font-size: 40px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	color: orangered;
}



/* start service */
#services-area {
	padding: 7rem 2rem;
}

#services-area .services-title {
	padding: 0 14rem;
}

#services-area .services-title h1 {
	font-size: 35px;
}

#services-area .services {
	background: rgba(248, 252, 253, 0.973);
	padding: 2rem 0;
	width: 16rem;
	margin: 5rem .5rem;
	transition: box-shadow .7s ease;
}

#services-area .services:hover {
	box-shadow: var(--box-shadow);
}
/* end services */ 